*.o
*.ll
assess-tuning/dtn_tune
testing/xdp_loader
testing/xdp_loader_light
cli/facil_io_7.0/
cli/tmp/
testing/modules/tuningMod/.Module.symvers.cmd
testing/modules/tuningMod/.modules.order.cmd
testing/modules/tuningMod/.tuningModule.ko.cmd
testing/modules/tuningMod/.tuningModule.mod.cmd
testing/modules/tuningMod/.tuningModule.mod.o.cmd
testing/modules/tuningMod/.tuningModule.o.cmd
testing/modules/tuningMod/Module.symvers
testing/modules/tuningMod/modules.order
testing/modules/tuningMod/tuningModule.ko
testing/modules/tuningMod/tuningModule.mod
testing/modules/tuningMod/tuningModule.mod.c
userspace/user_dtn
