*.o
*.ll
assess-tuning/dtn_tune
testing/xdp_loader
testing/xdp_loader_light
cli/facil_io_7.0/
cli/tmp/
modules/tuningMod/.Module.symvers.cmd
modules/tuningMod/.modules.order.cmd
modules/tuningMod/.tuningModule.ko.cmd
modules/tuningMod/.tuningModule.mod.cmd
modules/tuningMod/.tuningModule.mod.o.cmd
modules/tuningMod/.tuningModule.o.cmd
modules/tuningMod/Module.symvers
modules/tuningMod/modules.order
modules/tuningMod/tuningModule.ko
modules/tuningMod/tuningModule.mod
modules/tuningMod/tuningModule.mod.c
userspace/user_dtn
